
<div class="container-fluid">
  <div class="bg-dark content">
    <%= render 'parameters' %>
    <%= render 'problem' , collection: @problems%>
    <% if @problems.count == 0 %>
      <p class="text-muted text-center">no problems with applied filters</p>
    <% end %>
  </div>
</div>
