<h1 class="text-center mt-4">Edit tag name</h1>
<div class="container">
  <div class="row col-12 justify-content-center">
    <div class="col-10">
      <%= render 'form', locals: {name: "Edit"} %>
    </div>
  </div>
</div>