<h1 class="text-center mt-4">Categories</h1>

<div class="container row m-auto">
  <% @categories.each do |category| %>
    <div class="col-3" ><%= link_to category.name, category_path(category), class: "badge badge-pill badge-info mr-1" %> # <%= category.problems.count%></div>
  <% end %>
</div>
