<h1 class="text-center mt-4">Create a new Tag</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' , locals: {name: "Create"}%>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and return to Tags listing ]', categories_path, class: "text-info" %>
    </div>
  </div>
</div>